.expenseTracker_parent 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-family: 'Lato', sans-serif;
}

.balance_container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 15px 30px;
}

.balance_container h3 
{
    font-size: 16px;
    letter-spacing: 0.5px;
}

.balance_container h1 
{
    font-size: 22px;
    letter-spacing: 0.5px;
}

.formTransactions_container 
{
    width: 100%;
}

.form_container 
{
    height: 383.5px;
    box-sizing: border-box;
}

.form_container form button 
{
    background-color: var(--primary);
    letter-spacing: 0.5px;
}
.form-title{
    display: flex;
   
}
.edittransaction{
    max-width:50%;
}
.WalletDetails_container 
{
    width: 422.5px;
}

.incomeExpense_container 
{
    padding: 15px 30px;
}

.incomeExpense_container h3 
{
    font-size: 16px;
    letter-spacing: 0.5px;
}

.incomeExpense_container h3 span 
{
    font-size: 22px;
    margin-top: 8px;
}

.WalletDetails_container h4 
{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 3px;
}

.WalletDetails_container p 
{
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 5px;
}

.transactions_container 
{
    margin-top: 15px;
    max-height: calc(100vh - 410px);
    overflow: auto;
}

.income,
.outcome 
{
    width: 422.5px;
    box-sizing: border-box;
    height: 70px;
    position: relative;
}

.income::after 
{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -1.5px;
    right: -1.5px;
    width: 8px;
    background-color: #1cd503;
    border-radius: 1px 2px 2px 1px;
}

.outcome::after 
{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -1.5px;
    right: -1.5px;
    width: 8px;
    background-color: #f53838;
    border-radius: 1px 2px 2px 1px;
}

.icon_container 
{
    padding: 12px;
    background-color: #f7f2f8;
    border-radius: 50%;
}

.icons 
{
    height: 29px;
    width: 29px;
    fill: var(--primary);
}

.descDate_container 
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    margin-right: auto;
    margin-left: 10px;
}

.descDate_container h4 
{
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.descDate_container p 
{
    margin: 0;
    font-size: 10px;
    letter-spacing: 0.3px;
}

.income h1 
{
    margin: 0;
    font-size: 16px;
    color: #1cd503;
    margin-right: 10px;
}

.outcome h1 
{
    margin: 0;
    font-size: 16px;
    color: #f53838;
    margin-right: 10px;
}


.editDelete_container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    width: 0px;
    height: 100%;
}

.income:hover .editDelete_container,
.outcome:hover .editDelete_container 
{
    width: 60px;
}

.edit_icon 
{
    fill: var(--primary);
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.delete_icon 
{
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: #f53838;
}

.edit_icon 
{
    fill: #65c971;
}

.delete_icon 
{
    fill: #f53838;
}

.Toastify 
{
    position: absolute;
    left: 0;
    bottom: 0;
}

#contactChoice1 {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;

}

#contactChoice1:checked {
    border: 5px solid #0096FF;
  }

#contactChoice2 {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  
  }

#contactChoice2:checked {
    border: 5px solid #0096FF;
  }
  
.input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    color: darkgray;
    width: 200px;
  }
  #category {
    background-color: white;
    border-radius: 0px;
    display: inline-block;
    font: inherit;
    width: 200px;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
    background-position: calc(100% - .5rem), 100% 0;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    outline: 0;
    margin-right: 50px;
    border-style: solid;
    border-color: #e5e7eb;
  }
  
  #category option {
    background-color: white; 
    color: black; 
  }

  #date{
    width: 200px;
    border-radius: 0;
    height: 2.5rem; 
    border-style: solid;
    border-color: #e5e7eb;
  }

  #text{
    width: 200px;
  }
  

/* --------responsiveness--------- */

@media only screen and (max-width: 870px) 
{
    .formTransactions_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media only screen and (max-width: 480px) 
{
    .expenseTracker_parent 
    {
        box-sizing: border-box;
        padding: 0 20px;
    }

    .form_container,
    .WalletDetails_container,
    .transactions_container,
    .income,
    .outcome 
    {
        width: 100%;
    }

    .form_container 
    {
        padding: 20px;
    }

    .form_container form 
    {
        width: 100%;
        justify-content: space-between;
    }

    .form_container form div 
    {
        width: 48%;
    }

    .balance_container 
    {
        margin-top: 75px;
        color: black;
    }
    .editDelete_container{
        width: 60px;
    }
    #category{
        width: 140px;
    }
    #text{
        width: 140px;
    }
    #date{
        width: 140px;
    }
}