.expenseTracker_parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  border-color: var(--border);
}

.balance_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 15px 30px;
}

.balance_container h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.balance_container h1 {
  font-size: 22px;
  letter-spacing: 0.5px;
}

.formTransactions_container {
  width: 100%;
}

.form_container {
  padding: 30px;
  height: 374px;
  width: 430px;
  border-color: var(--border);
}

.form_container form button {
  background-color: var(--primary);
  border-color: var(--border);
  letter-spacing: 0.5px;
  height: 44px;
}
.form-title {
  display: flex;
}
.edittransaction {
  max-width: 50%;
}
.WalletDetails_container {
  width: 430px;
}

.incomeExpense_container {
  padding: 15px 30px;
  border-color: var(--border);
}

.incomeExpense_container h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.incomeExpense_container h3 span {
  font-size: 22px;
  margin-top: 8px;
}

.WalletDetails_container h4 {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.WalletDetails_container p {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.Toastify {
  position: absolute;
  left: 0;
  bottom: 0;
}

#contactChoice1 {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#contactChoice1:checked {
  border: 5px solid var(--border);
}

#contactChoice2 {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#contactChoice2:checked {
  border: 5px solid var(--border);
}

#number {
  width: 100%;
}
.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  color: darkgray;
  width: 100%;
}
#category {
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  width: 100%;
  line-height: 1.5em;
  padding: 8px;
  box-sizing: border-box;
  outline: 0;
  border-style: solid;
}
  
#date {
  width: 100%;
  border-radius: 0;
  height: 44px;
  border-style: solid;
}

#text {
  width: 100%;
}

#date, #category, #text, #number, .form_container{
  border-color: var(--border);
}

.dark #date, .dark #category, .dark #text, .dark #number, .dark .form_container button, .dark .form_container, .dark .incomeExpense_container {
  border-color: var(--border-dark);
}
/* --------responsiveness--------- */
  
  @media only screen and (max-width: 870px) {
    .formTransactions_container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .expenseTracker_parent {
      padding: 0px 10px;
    }
  
    .balance_container h3 {
      color: black;
    }
  
    .balance_container h1 {
      color: black;
    }
  
    .form_container {
      width: 100%;
      padding: 20px;
    }
  
    .WalletDetails_container {
      width: 100%;
    }
  
    .incomeExpense_container {
      justify-content: space-between;
    }
}