.expenseTracker_parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  border-color: var(--border);
}

.balance_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 15px 30px;
}

.balance_container h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.balance_container h1 {
  font-size: 22px;
  letter-spacing: 0.5px;
}

.formTransactions_container {
  width: 100%;
}

.form_container {
  padding: 30px;
  height: 374px;
  width: 430px;
  border-color: var(--border);
}

.form_container form button {
  background-color: var(--primary);
  border-color: var(--border);
  letter-spacing: 0.5px;
  height: 44px;
}
.form-title {
  display: flex;
}
.edittransaction {
  max-width: 50%;
}
.WalletDetails_container {
  width: 430px;
}

.incomeExpense_container {
  padding: 15px 30px;
  border-color: var(--border);
}

.incomeExpense_container h3 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.incomeExpense_container h3 span {
  font-size: 22px;
  margin-top: 8px;
}

.WalletDetails_container h4 {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.WalletDetails_container p {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.transactions_container {
  max-height: calc(100vh - 433px);
  overflow: auto;
  margin-top: 5px;
}

.selected-value{
  border-color: var(--border);
}

.cursor-pointer{
  border-color: var(--border);
}

.income,
.outcome {
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  position: relative;
  border-color: var(--border);
}

.income::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -1.5px;
  right: -1.5px;
  width: 8px;
  background-color: #1cd503;
  border-radius: 1px 2px 2px 1px;
}

.outcome::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -1.5px;
  right: -1.5px;
  width: 8px;
  background-color: #f53838;
  border-radius: 1px 2px 2px 1px;
}

.icon_container {
  padding: 12px;
  background-color: var(--primary);
  border-radius: 50%;
}

.icons {
  height: 29px;
  width: 29px;
  fill: var(--icons);
}

.descDate_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  margin-right: auto;
  margin-left: 10px;
}

.descDate_container h4 {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.descDate_container p {
  margin: 0;
  font-size: 10px;
  letter-spacing: 0.3px;
}

.income h1 {
  margin: 0;
  font-size: 16px;
  color: #1cd503;
  margin-right: 10px;
}

.outcome h1 {
  margin: 0;
  font-size: 16px;
  color: #f53838;
  margin-right: 10px;
}

.editDelete_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  width: 0px;
  height: 100%;
}

.income:hover .editDelete_container,
.outcome:hover .editDelete_container {
  width: 60px;
}

.edit_icon {
  fill: var(--primary);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.delete_icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  fill: #f53838;
}

.edit_icon {
  fill: #65c971;
}

.delete_icon {
  fill: #f53838;
}

.Toastify {
  position: absolute;
  left: 0;
  bottom: 0;
}

#contactChoice1 {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#contactChoice1:checked {
  border: 5px solid var(--border);
}

#contactChoice2 {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#contactChoice2:checked {
  border: 5px solid var(--border);
}

#number {
  width: 100%;
  border-color: var(--border);
}
.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  color: darkgray;
  width: 100%;
}
#category {
  background-color: white;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  width: 100%;
  line-height: 1.5em;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC");
  background-position: calc(100% - 0.5rem), 100% 0;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  outline: 0;
  border-style: solid;
  border-color: var(--border);
  transition: background-color 0.5s;
}

#category option {
  background-color: white;
  /* color: black;  */
}

#date {
  width: 100%;
  border-radius: 0;
  height: 44px;
  border-style: solid;
  border-color: var(--border);
  transition: background-color 0.5s;
}

#text {
  width: 100%;
  border-color: var(--border);
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  float: right;
  padding: 2.4px;
  position: relative;
  top: 7px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* --------responsiveness--------- */

@media only screen and (max-width: 870px) {
  .formTransactions_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .expenseTracker_parent {
    padding: 0px 10px;
  }

  .balance_container h3 {
    color: black;
  }

  .balance_container h1 {
    color: black;
  }

  .form_container {
    width: 100%;
    padding: 20px;
  }

  .WalletDetails_container {
    width: 100%;
  }

  .incomeExpense_container {
    justify-content: space-between;
  }

  .editDelete_container {
    width: 60px;
  }
}
