@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600&display=swap');

.navbar_parent
{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 50px;
}

.navbar_parent h1
{
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 35px;
    font-family: 'Barlow Condensed', sans-serif;
}

.profile_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile_container h4
{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.logout_icon
{
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: white;
}

.login_signup_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

